main {
    width:80%;
    padding: 25px 0 0 0;
    margin:auto;
    background-color:white;
}

header {
    border-bottom:3px solid #fed136;
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

/* ------  MARGINS AND PADDING -------*/

.m-t-25 {
    margin-top:25px;
}

/* ------- TEXT ---------- */

.btn-md {
    color:#fff;
    background-color:#fed136;
    border-color:#fed136;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:500;
    border-radius:3px;
    font-size:16px;
    padding:10px 20px;
    margin-top:35px;
}

#contact img {
    margin:20px 0;
}

#contact ul, #contact h4 {
    color:#fff;
}

.gold {
    color:#fed136;
    text-transform: capitalize;
}

.cursive {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform:none;
}

#technologies span {
     color:#fed136;
     text-shadow:1px 1px #222 ;
}

/* ------- TECHNOLOGIES ------- */

#technologies {
    padding-top:10px!important;
}

/* ------- CARFINDER -------- */

#testDrive {
    position:relative;
    background-color:#4d4d4d;
    padding-top:25px;
}

#testDrive h2 {
    color:white;

}

#testDrive h2 span {
    color:#fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform:none;
    font-weight:500;
    font-size:60px;
}

/* --------- SELECTOR BANNER --------*/

.banner {
    box-sizing:border-box;
    padding:15px;
    margin:15px;
    background-color:#222;
    width:130%;
    margin:auto;
    border-radius:10px;
    position:absolute;
    left:-15%;
}

select {
    width:15%;
    min-width:125px;
    height:25px;
    border: 2px solid #fed136;
    border-radius:5px;
    background-color:#fed136;
    color:#222;
    padding:0 5px;
    margin: 0 5px;

}

/* -------  TABLE -------- */

.table {
    margin-top: 100px;
    background-color:#fff;
}

table button {
    background-color:#fed136;
    color:#fff;
    padding:3px 6px;
    font-size:14px
}

/* -------- ICONS ------- */

li.social-buttons{
    margin-bottom:0}

li.social-buttons a{
    display:block;
    background-color:#222;
    height:40px;
    width:40px;
    border-radius:100%;
    font-size:20px;
    line-height:40px;
    color:#fff;
    outline:0;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s}

li.social-buttons a:hover,
li.social-buttons a:focus,
li.social-buttons a:active{
    background-color:#fed136
}

/* ------- MODAL ------- */

.modal-header {
    background-color:#222;
    color:#fff;
    padding:5px;
}

.modal-body {
    background-color:#222;
    color:#fff;
}

.modal-body h2 {
    padding:10px 25px 0 0;
    text-align:right;
    margin-top:5px;
    margin-bottom:0px;
}

.modal-title {
    text-transform:none;
    color:#fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size:3em;
    padding:0;
}

.tabs {
    background-color:#fff;
    color:#000;
    padding:15px 10px;
}

dd {
    font-weight:300;
    font-size:1.2em;
    text-indent:20%;
}

dt {
    padding: 10px 0 0;
}


.image-result {
    min-width:100px;
    width:100%;
    height:auto;
    min-height:300px;
    border-radius:5px;
}

.image-contain {
    background-color:#222;
    border:2px solid #0d0d0d;
    border-radius:5px;
    padding:10px;
}

/* --------- ACCORDIONS ----------------------- */

.accord {
    margin:25px 25px;
}

.accord-group {
    margin: 15px 0;
}

.panel-default .panel-heading {
    background-color:#4d4d4d;
    color:#fff;
}

.panel-body h5 {
    text-align:right;
    margin:5px 0;
    padding: 5px 5px;;
}

.panel-body h6 {
    text-transform:lowercase;
    margin:5px 0;
    padding: 5px 5px;
}

.accordions {
    width:80%;
    padding: 5px 20px;
}

.indent-25 {
    padding-left:25px;
}